nav{
    background-color: rgba(128, 128, 128, 0.482);
    border-radius: 10px 10px 0 10px;
    padding: 20px;
}

/* ul{
    opacity: 0;
}
 */


 a{
    text-decoration: none;
    color: white;
 }

 a:hover{
    color: rgb(120, 119, 119);
 }

li{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 1px;
    padding: 3px 5px;
    border-radius: 3px;
    border-bottom: solid 2px transparent;
}

li:hover{
    border-bottom: solid rgb(216, 26, 58) 2px;
    color: rgb(120, 119, 119);
    transform: 0.8s;
}