<div class="exp-cert">
    <div class="exp-info">
        <h2 style="border-bottom:solid 2px rgb(216, 26, 58); padding-bottom: 3px;">Experiences</h2>
        <ul>
            <li>
            <h5>Angular Intern</h5>
            <p>Ameliorate Digital Consultancy Pvt ltd</p>
            </li>
            <li>
                <h5>Web developer Intern</h5>
            <p>One Star Solution, Sangli</p>     
            </li>
            <li>
            Oasis Infobyte Internship Certification. (Mode: online)   
            </li>
        </ul>
    </div>
    <div class="certificate">
        <h2 style="border-bottom:solid 2px rgb(216, 26, 58); padding-bottom: 3px;">Certification</h2>
        <ul>
            
            <li>
                Certificate Of Java Development course by Apna College
            </li>
            <li>
                Completed Value Addition Program on Cybersecurity and Ethical Hacking.  
                </li>
            <li>
              	Completed “6 technology in one video – interview prep” course by learnmall.in
            </li>
            <li>
              	 Participated on WEBWIZ in IMPETUS-2K22
               
            </li>
            <li>
              	Co-ordinated college level event – NAVMIRMAN 2K23.
            </li>
            
        </ul>
    </div>
</div>