<div class="main-one container my-4 p-2">
  <!-- <img width="300" class="col-md-2" src="assets/—Pngtree—fashion sexy female character_4886073.png" alt=""> -->
  <div class="row">
    <div class="col-md-4 bg cold" #col1>
      <div class="card p-3 ">
        <div class="card-img-top">
          <img src="assets/contact.jpg" class="img-fluid" alt="Contact Image">
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-envelope me-2"></i>
            <h6 class="mb-0 ">anujahkhanaj2003@gmail.com</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="main col-md-8 cold" #col2>

      <div class="form-center">


        <form action="" class="form" [formGroup]="reactiveForms" onsubmit="event.preventDefault()">
          <h2 style="border-bottom:solid 2px rgb(216, 26, 58); padding-bottom: 3px;">Get In Touch With Me</h2>
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="" formControlName="name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" id="" formControlName="email">
            <small *ngIf="reactiveForms.get('email').invalid && reactiveForms.get('email').touched">Email is
              required</small>
          </div>
          <div class="form-group">
            <label for="msg"> Your Messege for me </label>
            <textarea class="form-control" name="msg" id="msg" cols="30" rows="10" formControlName="msg"></textarea>
          </div>
          <div class="sub btn" (click)="onFormSubmit(reactiveForms.value)">
            Submit
          </div>
        </form>
        </div>
        
            <div class="card-footer">
              <app-footer></app-footer>
            </div>
            </div>
          </div>
  <router-outlet></router-outlet>
</div>