<div class="edu-info">
    <ol>
        <li  style="padding: 5px 20px;">
            <h3> <b>Sharad Institute of Technology college of Engg.</b></h3>
            <p> (2020-2024) Bachelor of Computer Science - Software Engineering (8.4 CGPA)</p>
        </li>
        <li style="padding: 5px 20px;">
            <h3> <b>Sharad Institute Science and Commerce college.</b></h3>
            <p> (2018- 2020) HSC Board (86%)
            </p>
        </li>
        <li style="padding: 5px 20px;">
            <h3> <b>Vyankatrao High School</b></h3>
            <p> (2018) SCCBoard (95%)
            </p>
        </li>
    </ol>
</div>