<div class="edu-skills " >
    <div class="container intro d-flex pt-3 " #intro2 style="justify-content: space-between;">
        <div>
            <h2 style="border-bottom:solid 2px rgb(216, 26, 58); padding-bottom: 3px;">Projects</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam adipisci sit, velit accusantium sapiente dicta.</p>
        </div>
        <app-navbar></app-navbar>
    </div>
    <div class=" p-4 container">
        <div class="row">
            <div class=" col" #col1>
                    <h3>Project Management System</h3>
                    <h6>(Html, Css, Php, Mysql, Javascript)</h6>
                    <p> Integrated, stored data from databases.
                        Made easy access to different project implemented by students.
                        Built a student authentication, login and signup system</p>
                    <button class="btn">See Code</button>
            </div>
            <div class="col" #col2 >
                <h3>Lingofur - Language learning website</h3>
                <h6></h6>
                <p> Created a user friendly website to learn languages like English and many more
                    Dictionary, translator and lessons at one place,
                    Designed Ul design of website with basic logo.
                    </p>
                    <button class="btn">See Code</button>
            </div>
        </div>
        <div class="row">
            <div class=" col" #col3>
                    <h3>Project Management System</h3>
                    <h6>(Html, Css, Php, Mysql, Javascript)</h6>
                    <p> Integrated, stored data from databases.
                        Made easy access to different project implemented by students.
                        Built a student authentication, login and signup system</p>
                    <button class="btn">See Code</button>
            </div>
            <div class="col" #col4>
                <h3>Lingofur - Language learning website</h3>
                <h6></h6>
                <p> Created a user friendly website to learn languages like English and many more
                    Dictionary, translator and lessons at one place,
                    Designed Ul design of website with basic logo.
                    </p>
                    <button class="btn">See Code</button>
            </div>
        </div>
        <div class="row">
            <div class=" col" #col5>
                    <h3>Project Management System</h3>
                    <h6>(Html, Css, Php, Mysql, Javascript)</h6>
                    <p> Integrated, stored data from databases.
                        Made easy access to different project implemented by students.
                        Built a student authentication, login and signup system</p>
                    <button class="btn">See Code</button>
            </div>
            <div class=" col " #col6>
                <h3>Lingofur - Language learning website</h3>
                <h6></h6>
                <p> Created a user friendly website to learn languages like English and many more
                    Dictionary, translator and lessons at one place,
                    Designed Ul design of website with basic logo.
                    </p>
                    <button class="btn">See Code</button>
            </div>
        </div>
    </div>
</div>
