<div class="edu-skills " >
    <div class="container intro d-flex pt-3 " #intro2 style="justify-content: space-between;">
        <div>
            <h2 style="border-bottom:solid 2px rgb(216, 26, 58); padding-bottom: 3px;">Projects</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam adipisci sit, velit accusantium sapiente dicta.</p>
        </div>
        <app-navbar></app-navbar>
    </div>
    <div class=" p-4 container">
        <div class="row">
            <div class=" col" #col1 >
                <h2> Project Management System</h2>
                <p><strong>Description:</strong>  Streamline project management with our comprehensive Project Management System, designed to centralize data and facilitate easy access to various projects implemented by students. From seamless data integration to robust user authentication features, our system empowers efficient project management for educational endeavors.</p>
                <p><strong>Technologies Used:</strong> HTML, CSS, PHP, MySQL, JavaScript</p>
                <ol  #ol>
                    <li><strong>Centralized Data Management:</strong> Integrate and store project data efficiently within databases, ensuring seamless access and organization.</li>
                    <li><strong>Project Accessibility:</strong> Simplify access to diverse projects executed by students, providing a user-friendly platform for exploration and collaboration.</li>
                    <li><strong>Student Authentication:</strong> Implement a secure authentication system for students, ensuring data integrity and privacy throughout the platform.</li>
                    <li><strong>Login and Signup System:</strong> Enable students to create accounts and login securely, enhancing user experience and facilitating personalized interactions.</li>
                </ol>   
                    <button class="btn">See Code</button>
            </div>
            <div class="col" #col2 >
                <h2> Lingofur - Language Learning Platform</h2>
                <p><strong>Description:</strong> Embark on a linguistic journey with Lingofur, your one-stop destination for mastering various languages including English and many more. Our user-friendly website offers a comprehensive suite of tools including dictionaries, translators, and lessons, all conveniently housed under one roof. Coupled with an intuitive UI design and a bespoke logo, Lingofur promises a seamless and engaging language learning experience.</p>
                <p><strong>Technologies Used:</strong> HTML, CSS, PHP, MySQL, JavaScript</p>
                <ol  #ol>
                    <li><strong>Multi-Language Support:</strong> Dive into the world of languages with English and many others available for learning and exploration.</li>
                    <li><strong>Comprehensive Tools:</strong> Access dictionaries, translators, and lessons all in one place, simplifying the language learning process for users.</li>
                    <li><strong>Intuitive UI Design:</strong> Navigate effortlessly through our website thanks to a thoughtfully designed user interface, enhancing usability and engagement.</li>
                    <li><strong>Distinctive Branding:</strong> Stand out with our unique logo, reflecting the essence of Lingofur and its commitment to fostering language proficiency.</li>
                </ol>
                    <button class="btn">See Code</button>
            </div>
        </div>
        <div class="row">
            <div class=" col" #col3>
                <h2> Resume Generator</h2>
                <p><strong>Description:</strong> Empower yourself with the Resume Generator, a dynamic web application designed to effortlessly craft your professional resume. Say goodbye to layout headaches and focus solely on showcasing your skills and experiences.</p>
                <p><strong>Technologies Used:</strong> HTML, CSS, Angular 16, Firebase</p>
                <ol  #ol>
                    <li><strong>Effortless Creation:</strong> Seamlessly create your resume without the burden of worrying about layouts.</li>
                    <li><strong>Reactive Form Integration:</strong> Utilizes reactive forms and validation for ensuring required fields are filled accurately.</li>
                    <li><strong>Temporary Storage:</strong> Data is securely stored in local storage for temporary purposes, enabling easy printing and editing.</li>
                    <li><strong>Firebase Integration:</strong> Utilizes Firebase for user authentication, ensuring a secure login process and storing user information.</li>
                    <li><strong>Interactive Feedback:</strong> Engage with users through an interactive feedback section, leveraging the GET method to display data dynamically.</li>
                </ol>
                    <button class="btn">See Code</button>
            </div>
            <div class="col" #col4>
                <h2> Dynamic Portfolio Website</h2>
        <p><strong>Description:</strong> Elevate your online presence with a dynamic portfolio website designed to showcase your skills, accomplishments, and personality. This website serves as a digital representation of your professional journey, offering visitors a comprehensive view of your expertise and accomplishments. From captivating visuals to intuitive navigation, every aspect of the portfolio is crafted to leave a lasting impression.</p>
        <p><strong>Technologies Used:</strong> HTML, CSS, JavaScript</p>
        <ol  #ol>
            <li><strong>Visual Impact:</strong> Impress visitors with visually stunning design elements, captivating imagery, and sleek animations that highlight your creativity and attention to detail.</li>
            <li><strong>Comprehensive Showcase:</strong> Display a diverse range of projects, accomplishments, and experiences, providing a comprehensive overview of your skills and expertise.</li>
            <li><strong>Interactive Elements:</strong> Engage visitors with interactive elements such as portfolio galleries, sliders, and embedded media, creating an immersive browsing experience.</li>
            <li><strong>Seamless Navigation:</strong> Ensure ease of navigation with intuitive menu structures, smooth scrolling, and clear call-to-action buttons that guide visitors through your portfolio effortlessly.</li>
            <li><strong>Responsive Design:</strong> Optimize the website for various devices and screen sizes, ensuring a seamless user experience regardless of the platform used for access.</li>
        </ol>
                    <button class="btn">See Code</button>
            </div>
        </div>
        <div class="row">
            <div class=" col" #col5>
                    <h3>Project Management System</h3>
                    <h6>(Html, Css, Php, Mysql, Javascript)</h6>
                    <p> Integrated, stored data from databases.
                        Made easy access to different project implemented by students.
                        Built a student authentication, login and signup system</p>
                    <button class="btn">See Code</button>
            </div>
            <div class=" col " #col6>
                <h3>Lingofur - Language learning website</h3>
                <h6></h6>
                <p> Created a user friendly website to learn languages like English and many more
                    Dictionary, translator and lessons at one place,
                    Designed Ul design of website with basic logo.
                    </p>
                    <button class="btn">See Code</button>
            </div>
        </div>
    </div>
</div>
