

.cold{
    opacity: 0;
}

img{
    max-width: 80%; 
    box-shadow: rgb(216, 26, 58) 20px 20px;
    margin: 1rem;
}
.btn{
color: white;
background-color:rgb(216, 26, 58);
/* outline: solid 1px; */
}


.bg{
    background-color: rgba(128, 128, 128, 0.482);
    padding: 20px;
    border-radius: 1rem;
}

.btm{
    border-bottom:solid 2px rgb(216, 26, 58);
}