<div class="edu-skills d-flex">
    <div class="all-skills">
        <ol>
            <li>
                <h4>Full Stack Development</h4>
                <p>Html, Css, javascript, php, react,
                    Bootstrap</p>
            </li>
            <li>
                <h4>
                    Database Management System
                </h4>
                <p>SQL, normalization</p>
            </li>
            <li>
                <h4>
                    Microsoft skills
                </h4>
                <p>Word, Excel</p>
            </li>
            <li>
                <h4>
                    Java
                </h4>
            </li>
        </ol>
    </div>
    <div class="imgs">
        <div class="grid-container">
            <div class="grid-item"><img src="../../../assets/database.png" alt=""></div>
            <div class="grid-item"><img src="../../assets/word.png" alt=""></div>
            <div class="grid-item"><img src="../../assets/excel.jpg" alt=""></div>
            <div class="grid-item"><img src="../../assets/react.png" alt=""></div>
            <div class="grid-item"><img src="../../assets/angular.jpg" alt=""></div>
            <div class="grid-item"><img src="../../assets/php-1-logo.svg" alt=""></div>
            <div class="grid-item"><img src="../../assets/html.png" alt=""></div>
            <div class="grid-item"><img src="../../assets/css3-logo.svg" alt=""></div>
            <div class="grid-item"><img src="../../assets/js.jpg" alt=""></div>
        </div>
    </div>
</div>
